.footer {
  display: flex;
  background-color: aqua;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  margin-top: 90px;
  font-weight: 500;
  color: seagreen;
}
.footer-text {
  margin: 5px;
}
.footer-content {
  margin-left: 400px;
}
.col-sm-12 {
  margin: 0px;
  padding: 0px;
}
