.menu-bar {
  background-color: blue;
  display: flex;
  padding: 5px;
}
.menu-bar-link {
  position: relative;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.content {
  color: #7b8898;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, Times,
    "Times New Roman", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑",
    宋体, SimSun, STXihei, "华文细黑", serif;
  line-height: 1.5;
  animation: fadeInLorem 1000ms linear;
}
